/* Body Part */
body{
    background: rgb(4, 134, 154)
  }
/* Container */

  .container{
      width: 1280px;
      margin: auto;
  }
  /* Main Part */
  .quotes-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
  }
  .inner-quotes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    text-align: center;
    min-height: 400px;
    padding: 0px 25px;
    color: rgb(246, 225, 225);
    border-radius: 10px;
    background-color: #f4edea;
    border-left: 10px solid black;
    border-right: 10px solid blue;
    border-bottom: 10px solid red;
    border-top: 10px solid green;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);
}